# База данных
MYSQL_DATABASE=vacancies
MYSQL_USER=vacancies
MYSQL_ROOT_PASSWORD=root_pass_change_me
MYSQL_PASSWORD=vacancies_pass_change_me

# Заменить на 3307, если 3306 уже занят локальным MySQL
MYSQL_HOST_PORT=3306

# Для SSR внутри Docker-сети
NUXT_API_BASE=http://nginx/api
# Для запросов из браузера при открытии http://localhost:3000
NUXT_PUBLIC_API_BASE=http://localhost:8080/api